ion-content{
  --ion-background-color:#fff;
  font-family: Arial, Helvetica, sans-serif;

}

.background-pic{
  height: 100vh;
  width: 100%;
  background: url('../../assets/dawn.png');
  background-position: 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-filter{
  height: 100%;
  width: 100%;
  background: rgba(210, 202, 202, 0.8);
  align-items: center;
  display: flex;
  flex-direction: column;
}
ion-card{
  margin-top: 130px;
  background: transparent;
  box-shadow: none;
  text-align: center;

  ion-card-title{
      color:#030303;
      font-size: 30px;
  }

  ion-card-subtitle{
      color:#ff0808;
      font-size: 14px;
      font-weight: 400;

      a{
          text-decoration: none;
          font-weight: bold;
          color: #861919;
          font-size: 15;
      }
  }

  ion-card-content{
      margin-top: 30px;

      ion-item{
          --ion-item-background:transparent;
          --border-width:0;
          --inner-border-width:0;
          --highlight-color-focused:none;
          margin-bottom: 15px;

          ion-input{
              width:257px;
              height: 42px;
              border-radius: 15px;
              border:  1px solid #861919;
              font-size: 14px;
              font-weight: 300;
              color:#555B5B;
              --padding-start:30px;
          }

      }

      a{
          text-decoration: none;
          color:#861919;
          font-weight: 300;
          font-size: 13px;
      }
  }

  .bottom-section{
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      ion-button{
      height: 53px;
      width: 247px;
      font-size: 14px;
      text-transform: none;
      --background:#861919;
        font-weight: 400;
      --border-radius: 15px !important;

  }

  span{
      margin-top: 10px;
      font-weight: 330;
      a{
          font-weight: 400;
      }
  }
  }

}
